*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@media (max-width: 1024px) {
    .form-3dicon .three-d-icon img .py-5
    {
        width: 400px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .form {
        margin-left: 0 !important;
        padding: 0 !important;
    }
}
